:root{
    --background-color:#0a192f;
    --secondary-color:#64ffda;
    --offwhite-color:#ccd6f6;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Josefin Sans', sans-serif;
}



.my_nav{
    margin: auto;

}

ul{
    list-style-type: none;
    text-align: right;
    padding-right: 35px;
    
}
.my_nav{
    padding-top: 20px;
     margin: auto;
}
.my_nav .my_logo{
    font-weight: bold;
    font-size: large;
}

.my_nav li a, .my_nav .my_logo a, #footer li, #Pfooter li{
    text-decoration: none;
    padding: 1rem .5rem;
    color: var(--secondary-color);
   
}

.my_nav li, #footer li, #Pfooter li{
    display: inline;
   
}


header{
    padding-top: 5rem;
    text-align: center;
    padding: 50px 10px;
    padding-right: 50px;
}

.header_img{
    max-width: 350px;
    margin: auto;
    display: block;
}

.header_para{
     color: var(--offwhite-color);
     padding-top: 5px;
     font-size: 1.5rem;
}

#about-me{
     padding:40px 10px;
   padding-right: 50px;
    
    background-color: var(--offwhite-color);
    text-align: center;
}
.aboutme-para{
    padding: 20px 50px;
}
.abtmee-btn{
    text-decoration: none;
    background-color:#0a192f;
     color: var(--secondary-color);
     border: 1px solid var(--secondary-color);
     padding: 1rem 1.5rem;
     border-radius: 7px;
      
}


#skills p, #projects p, #Blogs p{
    padding-bottom: 20px;
}

#skills{
     padding:40px 15px;
      padding-right: 50px;
    text-align: center;
     color: var(--offwhite-color);
     margin: auto;
}
#skills h2{
    padding-top: 10px;
}

#projects{
   padding:40px 15px;
   padding-right: 50px;
    background-color: var(--offwhite-color);
    text-align: center;
}
#Blogs{
    padding:40px 15px;
   padding-right: 50px;
    text-align: center;
     color: var(--offwhite-color);
}

#footer{
     padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: var(--offwhite-color);
    text-align: center;
}

#footer li a{
    color: var(--background-color);
}

.my_projects ul, .my_blogs ul{
    list-style-type: none;
}
.my_projects li, .my_blogs li{
    padding: 50px 0;
    
}

.git-btn{
    text-decoration: none;
    background-color:#0a192f;
     color: var(--offwhite-color);
     border: 1px solid var(--offwhite-color);
     padding: 1rem .5rem;
     border-radius: 7px;
}
#Pfooter{
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    
    text-align: center;
}
#Pfooter li a{
    color: var(--offwhite-color);
}




